body {
	font-size: 16px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: url("../img/bg.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #0f1224;
}

/*
div {
    border: 1px solid #444443;
}
*/

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

.fl {
  filter: invert(1);
}

.main {
	max-width: 80%;
	margin: 0 auto;
	padding: 1vw;
}

.page {
}

.head {
	width: 100%;
	height: auto;
}

.head h1 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 4vw;
}

.descript {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	display: block;
    font-size: 2vw;
}

.hmenu {
	display: block;
	text-align: center;
	width: 100%;
	height: 2em;
	line-height: 2;
	font-size: 1.1vw;
}


.menu_item {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 1em;
}

.menu_item:hover {
	color: #0673ff;
}


.content {
	color: white;
}

.profile {
	margin: 1em 0 1em 0;
}

.portfolio {
	display: flex;
	justify-content: space-between;
	/* margin: 0 1em 0 1em; */
}


.item_port {
	width: 30%;
	height: 12em;
	border-radius: 1em;
	overflow: hidden;
}


.contact {
	margin: 3em 0 3em 0;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contact_item {
	width: auto;
	height: auto;
	overflow: hidden;
	padding: .5em;
}

.c_icon {
	font-size: 10vw;
	text-align: center;
	color: white;
}
/*.c_icon img {
	width: 10em;
	height: 10em;
	display: block;
	margin: 0 auto;
    
    transition: all .2s linear;
}*/

.c_name {
	text-align: center;
    /*margin-top: .5em;*/
}

.c_name a {
	color: white;
	text-decoration: none;
	font-weight: bold;
    font-size: 2vw;
}


/*.c_icon:hover {
    color: #0673ff;
    transition: all .2s linear;
}*/



.contact_item:hover .c_icon{
    color: #0673ff;
    transition: all .2s linear;
    cursor: pointer;
}

.contact_item:hover .c_name a{
    color: #0673ff;
    transition: all .2s linear;
    cursor: pointer;
}

.footer {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	height: 5em;
	line-height: 5;
}





















